PlaylistDownloader/PlaylistDownloader/obj/
PlaylistDownloader/PlaylistDownloader/bin/
PlaylistDownloader/SilentUpdater/obj/
PlaylistDownloader/SilentUpdater/bin/
PlaylistDownloader/Installer/Output/
PlaylistDownloader/packages/
*.suo
