<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SilentUpdater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <SilentUpdater.Properties.Settings>
            <setting name="UpdateManifestPath" serializeAs="String">
                <value>https://github.com/bertyhell/PlaylistDownloader/raw/master/PlaylistDownloader/SilentUpdater/update-manifest.json</value>
            </setting>
            <setting name="CurrentVersion" serializeAs="String">
                <value>1.1</value>
            </setting>
            <setting name="ExecutablePath" serializeAs="String">
                <value>PlaylistDownloaderDist/PlaylistDownloader.exe</value>
            </setting>
            <setting name="KeepVersions" serializeAs="String">
                <value>2</value>
            </setting>
        </SilentUpdater.Properties.Settings>
    </userSettings>
</configuration>
